<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <%- include('../partials/header') %>
</head>

<body>

    <!-- ======= Header ======= -->
    <%- include('../partials/navbar') %>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <%- include('../partials/sidebar') %>
            <!-- End Sidebar-->

            <main id="main" class="main">

                <div class="pagetitle">
                    <h1>Dashboard</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                            <li class="breadcrumb-item">Site Setting</li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->

                <!-- Set Hot Tours -->
                <section class="section dashboard">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Hot Tours</h5>
                                    <form id="hotToursForm" action="/admin/set/hot/tours" method="post">
                                        <input type="text" hidden name="id" value="<%= HotTours._id %>">
                                        <div class="row mb-3">
                                            <div class="col-md-11">
                                                <label for="hottours" class="form-label"> Select only Three</label>
                                                <select id="hottours" name="hottours" class="form-control select2bs4"
                                                    multiple style="width: 100%;" required max="3"
                                                    aria-label="multiple select example">
                                                    <% hottours.forEach((tour,i)=> { %>
                                                        <option value="<%= tour._id %>"
                                                            <%=HotTours.tours_id.includes(tour._id)
                                                            ? 'selected' : '' %>>
                                                            <%= tour.title %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select up to 3 tours
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success bg-gradient">
                                                <i class="bi bi-pencil-square"></i>
                                                update
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>

                <!-- Top Destination -->
                <section class="section dashboard">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Top Destination</h5>
                                    <form id="Destinationform" action="/admin/set/destinations" method="post">
                                        <input type="text" hidden name="id" value="<%= top_destination._id %>">
                                        <div class="row mb-3">
                                            <div class="col-md-11 mb-3">
                                                <select id="destinations" class="form-control select2bs4" multiple
                                                    style="width: 100%;" name="destinations"
                                                    aria-label="multiple select example" max="10">
                                                    <% locations.forEach((location,i)=> { %>
                                                        <option value="<%= location._id %>"
                                                            <%=top_destination.destinations_id.includes(location._id)
                                                            ? 'selected' :'' %>
                                                            >
                                                            <%= location.location_name %>
                                                        </option>
                                                        <% }) %>

                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-success bg-gradient">
                                                    <i class="bi bi-pencil-square"></i>
                                                    update
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Recent Posts -->
                <section class="section dashboard">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Recent Posts</h5>
                                    <form id="postsform" action="/admin/set/recent_posts" method="post">
                                        <input type="text" hidden name="id" value="<%= recents_posts._id %>">
                                        <div class="row mb-3">
                                            <div class="col-md-11 mb-3">
                                                <select id="recent_posts" class="form-control select2bs4" multiple
                                                    name="recent_posts" style="width: 100%;"
                                                    aria-label="multiple select example">
                                                    <% posts.forEach((post,i)=> { %>
                                                        <option selected value="<%= post._id %>"
                                                            <%=recents_posts.posts_id.includes(post._id) ? 'selected'
                                                            :'' %>
                                                            >
                                                            <%= post.title %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-success bg-gradient">
                                                    <i class="bi bi-pencil-square"></i>
                                                    update
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <%- include('../partials/footer') %>
                <!-- End Footer -->

                <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
                    <i class="bi bi-arrow-up-short"></i>
                </a>
                <%- include('../partials/script') %>
                    <script async src="/assets/js/index.js" type="module"></script>
                    <script defer>
                        document.addEventListener('DOMContentLoaded', () => {
                            const hotToursSelect = document.getElementById('hottours')
                            const form = document.getElementById('hotToursForm')
                            const hotDestinationSelect = document.getElementById('destinations')
                            const Destinationform = document.getElementById('Destinationform')
                            const postForm = document.getElementById('postsform')
                            const postSelect = document.getElementById('recent_posts')
                            const alert = document.querySelectorAll('.invalid-feedback')

                            form.addEventListener('submit', (e) => {
                                if (hotToursSelect.selectedOptions.length > 3) {
                                    e.preventDefault()
                                    alert[0].classList.add('d-block')
                                    alert[0].innerHTML = 'Please select only 3 tours';
                                }
                            })
                            Destinationform.addEventListener('submit', (e) => {
                                if (hotDestinationSelect.selectedOptions.length > 10) {
                                    e.preventDefault()
                                    alert[1].classList.add('d-block')
                                    alert[1].innerHTML = 'Please select only 10 Destinations';
                                }
                            })
                            postForm.addEventListener('submit', (e) => {
                                if (postSelect.selectedOptions.length > 10) {
                                    e.preventDefault()
                                    alert[2].classList.add('d-block')
                                    alert[2].innerHTML = 'Please select only 10 Destinations';
                                }
                            })
                        })
                    </script>
</body>

</html>